body {
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #1b1e20;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.calcContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #414146;
  margin-left: 25vw;
  width: 40vw;
  height: 40vh;
  border: solid black 2px;
  border-radius: 15px;
}

.display {
  display: grid;
  grid-column: 1 / -1;
  justify-content: end;
  align-items: flex-end;
  font-size: 4vh;
  border: solid black 3px;
  border-radius: 15px;
  width: 38vw;
  height: 6vh;
  margin-top: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-right: 10px;
  overflow: hidden;
}

.btnContainer,
.btn {
  display: flex;
  flex-grow: 1;
  max-width: 10vw;
  max-height: 3vh;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 8vw;
  border-radius: 12px;
  border: 1px solid rgb(139, 139, 139);
  color: white;
  background-color: rgb(10, 19, 39);
  font-weight: 500;
  font-size: 2vw;
}

.btnContainer {
  margin: 1vw;
}

.numContainer {
  margin-bottom: 15vh;
}
